
// color
$background-color: #4a90e8;
$footer-color: #fec300;
$button-color: #ffd14f;

// fonts
@font-face{
	font-family: "MFBanHei";
	src: url("../fonts/MFBanHei.otf") format('opentype');
	font-weight: normal;
    font-style: normal;
}