**/*.pyc
Dockerfile.local
dump.rdb
restccnu.env
celerybeat-schedule.db
celerybeat.pid
celerybeat-schedule
shadowsocks/shadowsocks.json
rest_env/
learn/
tests/__pycache__
tests/.cache
tests/venv/
test/
restccnu/spiders/htmls
restccnu/templates/
restccnu/static/
.vscode/
