**/*.pyc
Dockerfile.local
restccnu.env
dump.rdb
celerybeat-schedule.db
celerybeat.pid
celerybeat-schedule
rest_env/
learn/
tests/__pycache__
tests/.cache
test/
restccnu/spiders/htmls
restccnu/templates/
restccnu/static/
