**/*.pyc
Dockerfile.local
dump.rdb
celerybeat-schedule.db
celerybeat.pid
celerybeat-schedule
rest_env/
learn/
tests/__pycache__
tests/.cache
tests/venv/
test/
restccnu/spiders/htmls
restccnu/templates/
restccnu/static/
