amqp==1.4.9
anyjson==0.3.3
beautifulsoup4==4.4.1
billiard==3.3.0.23
bs4==0.0.1
celery==3.1.23
click==6.6
Flask==0.11.1
Flask-QiniuStorage==0.9.3
futures==3.0.5
greenlet==0.4.10
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.35
lxml==3.6.0
mana==4.8
MarkupSafe==0.23
mongokit==0.9.1.1
msgpack-python==0.4.8
neovim==0.1.9
pymongo==2.9
pytz==2016.6.1
qiniu==7.0.7
redis==2.10.5
requests==2.10.0
six==1.10.0
trollius==2.1
Werkzeug==0.11.10
flask-zero
gevent
raven[flask]
blinker
pushjack
xlrd
flask-mail
shadowsocks
requests[socks]
pysocks