<!DOCTYPE html>
<html>
  <head>
    <title>华师匣子下载</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
  </head>
  <body>
	<div class="container">
		<div class="main-top">
			<div class="left">
					<img src="../static/images/logo.jpg" alt="logo" class="logo">
					<img src="../static/images/light.png" alt="light" class="light">
					<img src="../static/images/title.png" alt="title" class="title">
					<p class="content-c">由华中师范大学木犀团队倾力打造的华师专属利器，具有查看课表、查询成绩等功能，轻松为你扫除在校疑难杂症。
					</p>
					<p class="content-m">华师专属利器，轻松为你扫除在校疑难杂症。</p>
					<a href="" class="btn btn-android">Android版下载</a>
					<a href="javascript:void(0)" class="btn btn-ios">iPhone版打磨中</a>
			</div>
			<div class="right">
				<img src="../static/images/phone.png" alt="phone" class="phone">
			</div>
		</div>
		<div class="main-center">
			<div class="bg x1"></div>
			<div class="bg x2"></div>
			<div class="bg x3"></div>
		</div>
		<div class="main-bottom">
			<h3>华师姿势，尽在匣子</h3>
			<p>开启舒畅校园生活</p>
		</div>
	</div>
	<footer>
			<p>华中师范大学 木犀团队</p>
			<a href="http://muxistudio.com/">加入我们</a>	
			<a href="">意见反馈</a>
	</footer>
	<script src='../static/bundle.js'></script>
  </body>
</html>
